.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--page-padding);
  height: var(--navbar-height);

  .logo {
    font-size: 30px;
    font-weight: 700;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    .menuItem {
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
