@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
:root {
  --page-padding: 20px;
  --navbar-height: 80px;
  --color-bg: #252528;
  --color-bg-secondary: #3e3e40;
  --color-bg-tertiary: #565659;
  --color-text: #fff;
  --color-text-secondary: #a3a3a5;
}
